<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href= "/styles/home.css">
        <title>Exam site</title>
    </head>
    <body>
        <div class="login-form__logo-container">
            <div class="login-form" >
                <div class="login-form__logo-container">
                        <img src="/styles/images/tachometer.svg" >
                </div>
                <div class="login-form__content">
                    <div class="login-form__header">Online exam site</div>
                    <a href="/student/login"><button class="login-form__button" type="submit" >I am a Student</button></a>
                    <br>
                    <br>
                    <a href="/teacher/login"><button class="login-form__button" type="submit">I am a Teacher</button></a>
                </div>
            </div>
        </div>
    </body>
</html>