<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exam site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css" type="text/css">
</head>

<body>
    <a href="/"><button class="login-form__button">Go Back</button></a>
    <div class="login-form__logo-container">
        <form class="login-form" action="/teacher/signup" method="POST">
            <div class="login-form__logo-container">
                <img src="/styles/images/professor.svg">
            </div>
            <div class="login-form__content">
                <div class="alert alert-primary" role="alert">
                    <strong><%= message %></strong>
                </div>
                <div class="login-form__header">Create a new account</div>
                <input class="login-form__input" type="text" name="username" placeholder="Username">
                <input class="login-form__input" type="password" name="password" placeholder="Password">
                <button class="login-form__button" type="submit">Sign Up</button>
                <div class="login-form__links">
                    <a class="login-form__link" href="/teacher/login">Already a User? Login here</a>
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>