
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .sidenav {
            height: 100%;
            width: 260px;
            position: fixed;
            z-index: -1;
            top: 0;
            right: 0;
            background: rgb(230, 226, 226);
            padding-top: 20px;
        }




        .main {
            margin-right: 160px;
            padding: 0px 10px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
    <title>Exam site</title>
</head>

<body style="background: white;">
    <nav class="navbar navbar-expand-md navbar-togglable-sm shadow-lg " style="background: #0694cc;">
        <a class="navbar-brand" href="/teacher/dashboard" style="color: white;"><img src="/styles/images/tachometer.svg"
                width="40" height="40"> SPEED TEST </a>
    </nav>
    <aside id="mySidenav" class="sidenav">
        <br>
        <br>
        <div class="container">
            <p>Questions overview:</p>
            <div class="row" id="queslist">
                <% test.questions.forEach( function (qns, index) { %>
                <div class="col-xs-3" id="<%= qns._id %>">
                    <button class="dot btn"><%= qns.position %></button>
                </div>
                <% }); %>
            </div>
        </div>
    <button type="button" name="<%= test._id %>" class="btn btn-primary" id="create-ques">Create Question</button>
    </aside>
    <div id="main">
        <span>Question No: 1</span>
        <input name="question" id="question-text" value="new question"></input>
        <br>
        <br>
        <select id="answer-type">
            <option value="">Choose the type</option>
            <option value="0">Single correct</option>
            <option value="1">Multi correct</option>
            <option value="2">Numericals </option>
        </select>
        <div id="answers">

        </div>
        <button type="button" id="save-btn">Save changes</button>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/scripts/teacherTestEdit.js"></script>
</body>

</html>

<div class="dot2" style="background: #29B999" id="attempted-qn"><%= colorCount[0] %></div>
<p>Attempted Questions</p>
<div class="dot2" style="background: #ED6060" id="unattempted-qn"><%= colorCount[1] %></div>
<p>Unattempted Questions</p>
<div class="dot2" style="background: rgb(86, 95, 184)" id="marked-qn"><%= colorCount[2] %></div>
<p>Review Later</p>
<div class="dot2" style="background: rgb(196, 189, 189)" id="notattempted-qn"><%= colorCount[3] %></div>
<p>Not viewed</p>

<h1>Your Score: <%= total %></h1>

<a href="/test/<%= test._id %>/view/analytics"><button class="btn btn-default">View Analytics</button></a>