@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "header sidenav"
        "main1 sidenav"
        "footer sidenav";
    height: 100vh;
}

/* Give every child element its grid name */
.header {
    grid-area: header;
    background-color: #ffffff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.sidenav {
    grid-area: sidenav;
    background-color: rgb(230, 226, 226);
}

.footer {
    grid-area: footer;
    background-color: #ffffff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.main1 {
    grid-area: main1;
    background-color: white;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #c4bdbd;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
    border: 0;

}

.dot1 {
    height: 15px;
    width: 15px;
    background-color: #c4bdbd;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
}

.dot:focus {
    outline: 0 !important;
}

.dot2 {
    height: 35px;
    width: 35px;
    background-color: #c4bdbd;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
}

.btn {
    margin: 5px;
}

footer .btn {
    width: 181px;
    text-align: center;
    margin: 8px;
    padding: 5px;
}

.color-code .btn {
    width: 221px;
    text-align: center;
    margin: 0.5px;
    padding: 5px;
}

.card-header {
    color: white;
    background: #53b9e8;
}


.btn.btn-primary {
    color: white;
    border-color: #52b9e8;
    background: #52b9e8;
}


.btn.btn-primary.exec {
    color: #747474;
    border-color: #52b9e8;
    background: white;
}

.btn.btn-primary.exec:hover {
    color: white;
    border-color: #52b9e8;
    background: #52b9e8;
}

.optionsLine {
    font-size: 18px;
    /* float: left; */
    width: 100%;
    padding: 15px;
    margin: 0px 0px 15px;
}

.optionsLine:hover {
    font-size: 18px;
    /* float: left; */
    width: 100%;
    padding: 15px;
    margin: 0px 0px 15px;
    background-color: rgb(233, 231, 231);
}

/* 
.optionsLine:has(#checkbox input[type=checkbox]:checked) {
    font-size: 18px;
    /* float: left;
    width: 100%;
    padding: 15px;
    margin: 0px 0px 15px;
    background-color: #bef5ff;
} */

#checkbox input[type=checkbox] {
    display: none;
}

.optionsLine:hover {
    cursor: pointer;
}

#checkbox input[type=checkbox]:hover+.optionsLine {
    background-color: rgb(233, 231, 231);
}

#checkbox input[type=checkbox]:checked+.optionsLine {
    background-color: #bef5ff;
}

#checkbox input[type=radio] {
    display: none;
}

#checkbox input[type=radio]:hover+.optionsLine {
    background-color: rgb(233, 231, 231);
}

#checkbox input[type=radio]:checked+.optionsLine {
    background-color: #bef5ff;
}

.dot3 {
    height: 35px;
    width: 35px;
    background-color: #c4bdbd;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    background: #fff;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;

}

img {
    pointer-events: none;
    position: relative;
    z-index: 11;
}

